name: Azure (cloud) functional tests
on: 
  push:
    branches: [main]
  repository_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash

jobs:
  azure-tests-linux:
    name: Azure tests (Linux)
    runs-on: ubuntu-latest
    env:
      # NOTE: container/authn env is managed in scripts/env_azure so that local test
      # runs are easily managed; actual secrets are still loaded here via 1password in
      # an early workflow step
      VCPKG_TARGET_TRIPLET: x64-linux
      VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      GEN: ninja
      DUCKDB_PLATFORM: linux_amd64

    steps:
      - name: Install required ubuntu packages
        run: |
          sudo apt-get update -y -q
          sudo apt-get install -y -q software-properties-common
          sudo add-apt-repository ppa:git-core/ppa
          sudo apt-get update -y -q
          sudo apt-get install -y -q ninja-build make gcc-multilib g++-multilib zip unzip build-essential checkinstall curl libz-dev openssh-client

      - name: Setup credentials
        uses: 1password/load-secrets-action@v3
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AZURE_TENANT_ID: op://testing-rw/azure/tenant_id
          AZURE_CLIENT_ID: op://testing-rw/azure/client_id
          AZURE_CLIENT_SECRET: op://testing-rw/azure/client_secret
          AZURE_AUTH_ENV: 1

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@main
        with:
          variant: ccache
          key: ${{ github.job }}-${{ matrix.duckdb_arch }}
          restore-keys: ${{ github.job }}-${{ matrix.duckdb_arch }}
          verbose: 1
          evict-old-files: 7d

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11.1
        with:
          vcpkgGitCommitId: 84bab45d415d22042bd0b9081aea57f362da3f35

      - name: Build extension
        env:
          GEN: ninja
        run: |
          make release

      - name: Test with Service Principal (SPN) in env vars (!=slow)
        run: |
          scripts/env_azure ./build/release/test/unittest --skip-tag slow "test/sql/cloud/*"

      - name: Test with SPN logged in in azure-cli
        env:
          DUCKDB_AZ_CLI_LOGGED_IN: 1
        run: |
          # note: first CLI login, then allow env_azure to setup several key (non secret) vars, then clear SECRET after env script
          # to prevent accidental use of env secrets.
          az login --service-principal --user="${AZURE_CLIENT_ID}" --password="${AZURE_CLIENT_SECRET}" --tenant="${AZURE_TENANT_ID}"
          scripts/env_azure env -u AZURE_CLIENT_SECRET ./build/release/test/unittest "test/sql/cloud/azure_writes.test"

      - name: Test with access token (created via CLI, logged in above)
        run: |
          export AZURE_ACCESS_TOKEN=`az account get-access-token --resource https://storage.azure.com --query accessToken --output tsv`
          scripts/env_azure env -u AZURE_CLIENT_SECRET ./build/release/test/unittest "test/sql/cloud/access_token_auth.test"

      - name: Clear all az credentials from disk
        if: always()
        run: |
          az account clear || true # don't fail cuz of this

      - name: Tests that focus on public non-authenticated requests
        env:
          DUCKDB_AZURE_PUBLIC_CONTAINER_AVAILABLE: 1
          PUBLIC_AZ_STORAGE_ACCOUNT: duckdbtesting
        run: |
          env -u AZURE_CLIENT_SECRET ./build/release/test/unittest "test/sql/cloud/unauthenticated.test"

      - name: Run test data integrity check
        env:
          DUCKDB_AZURE_PERSISTENT_SECRET_AVAILABLE: 1 
        run: |
          scripts/env_azure ./build/release/duckdb -c "CREATE PERSISTENT SECRET az_authn_persistent (TYPE AZURE, PROVIDER SERVICE_PRINCIPAL, TENANT_ID '${{secrets.AZURE_TENANT_ID}}', CLIENT_ID '${{secrets.AZURE_CLIENT_ID}}', CLIENT_SECRET '${{secrets.AZURE_CLIENT_SECRET}}', ACCOUNT_NAME '${AZ_STORAGE_ACCOUNT}', SCOPE 'az://')"
          scripts/env_azure ./build/release/test/unittest "test/sql/test_data_integrity.test"

      - name: Test with Service Principal (SPN) in env vars (==slow)
        run: |
          scripts/env_azure ./build/release/test/unittest --select-tag slow "test/sql/cloud/*"
