name: Azure (cloud) functional tests
on: 
  push:
    branches: [main]
  repository_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash

jobs:
  azure-tests-linux:
    name: Azure tests (Linux)
    runs-on: ubuntu-latest
    env:
      VCPKG_TARGET_TRIPLET: x64-linux
      VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      GEN: ninja
      DUCKDB_PLATFORM: linux_amd64
      # AZ protocol vars
      AZ_STORAGE_ACCOUNT: duckdblabstestdatablob
      AZ_DATA_DIR: duckdblabs-data/common/azure_data
      AZ_TEMP_DIR: duckdblabs-write-testing/extension/azure
      # ABFSS protocol vars
      ABFSS_STORAGE_ACCOUNT: duckdblabstestdata
      ABFSS_DATA_DIR: duckdblabs-data/common/azure_data

    steps:
      - name: Install required ubuntu packages
        run: |
          sudo apt-get update -y -q
          sudo apt-get install -y -q software-properties-common
          sudo add-apt-repository ppa:git-core/ppa
          sudo apt-get update -y -q
          sudo apt-get install -y -q ninja-build make gcc-multilib g++-multilib zip unzip build-essential checkinstall curl libz-dev openssh-client

      - name: Setup credentials
        uses: 1password/load-secrets-action@v3
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AZURE_TENANT_ID: op://testing/azure/tenant_id
          AZURE_CLIENT_ID: op://testing/azure/client_id
          AZURE_CLIENT_SECRET: op://testing/azure/client_secret
          AZURE_AUTH_ENV: 1

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          variant: ccache
          key: ${{ github.job }}-${{ matrix.duckdb_arch }}
          restore-keys: ${{ github.job }}-${{ matrix.duckdb_arch }}
          verbose: 1
          evict-old-files: 7d

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11.1
        with:
          vcpkgGitCommitId: ce613c41372b23b1f51333815feb3edd87ef8a8b

      - name: Build extension
        env:
          GEN: ninja
        run: |
          make release

      - name: Test with Service Principal (SPN) in env vars
        run: |
          python3 duckdb/scripts/run_tests_one_by_one.py ./build/release/test/unittest "test/sql/cloud/*"

      - name: Test with SPN logged in in azure-cli
        env:
          DUCKDB_AZ_CLI_LOGGED_IN: 1

        run: |
          az login --service-principal --user="${AZURE_CLIENT_ID}" --password="${AZURE_CLIENT_SECRET}" --tenant="${AZURE_TENANT_ID}"
          unset AZURE_CLIENT_SECRET # prevent env usage going forward
          python3 duckdb/scripts/run_tests_one_by_one.py ./build/release/test/unittest "test/sql/cloud/*"

      - name: Test with access token
        run: |
          export AZURE_ACCESS_TOKEN=`az account get-access-token --resource https://storage.azure.com --query accessToken --output tsv`
          ./build/release/test/unittest "test/sql/cloud/access_token_auth.test"

      - name: Clean credentials
        if: always()
        run: |
          az logout || true # don't fail cuz of this

      - name: Tests that focus on public non-authenticated requests
        env:
          DUCKDB_AZURE_PUBLIC_CONTAINER_AVAILABLE: 1
          PUBLIC_AZ_STORAGE_ACCOUNT: duckdbtesting
      
        run: |
          python3 duckdb/scripts/run_tests_one_by_one.py ./build/release/test/unittest "test/sql/cloud/unauthenticated"

      - name: Run test data integrity check
        run: |
          ./build/release/duckdb -c "CREATE PERSISTENT SECRET s1 (TYPE AZURE, PROVIDER SERVICE_PRINCIPAL, TENANT_ID '${{secrets.AZURE_TENANT_ID}}', CLIENT_ID '${{secrets.AZURE_CLIENT_ID}}', CLIENT_SECRET '${{secrets.AZURE_CLIENT_SECRET}}', ACCOUNT_NAME '${AZ_STORAGE_ACCOUNT}')"
          DUCKDB_AZURE_PERSISTENT_SECRET_AVAILABLE=1 ./build/release/test/unittest "test/sql/test_data_integrity.test"

      #- name: Setup tmate session
      #  if: ${{ failure() }}
      #  uses: mxschmitt/action-tmate@v3
